

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.iconWrapper {
}

.iconWrapper.spinning {
    animation: spin 2s linear infinite;
}