.container {
  padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story {
  min-height: 100vh;
  padding: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title span.part{
  font-size: 1.8rem !important;
}

.body {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.story span.part {
  font-size: 1.2rem;
  position: relative;
  padding: 0.3rem 0.6rem;
  border-right: 2px solid #b7ffd3;
  border-left: 2px solid #b7ffd3;
}

.story span.part:hover, .story span.part.editing {
  border: none !important;
  background-color: #b7ffd3;
  border-radius: 0.5rem;
  transition: 0.3s all;
}

.story span.part.editing {
  display: inline-block;
  min-width: 300px;
}

.story span.part.editing input {
  background: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
}

.story span.part span.author {
  font-size: 0.8rem;
  background-color: #b7ffd3;
  border-radius: 0.5rem;
  display: none;
  padding: 0.2rem 0.6rem;
  position: absolute;
  left: 0;
  top: -1.9rem;
  white-space: nowrap;
}

.story span.part:hover span.author, 
.story span.part.editing span.author {
  display: unset;
}

.addPart {
  opacity: 0.1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: 0.2s all;
  border-radius: 4.5rem;
  cursor: pointer;
  margin: 0.2rem;
}

.addPart:hover, .addPart.visible {
  opacity: 1;
  background: #b7ffd3;
  height: 1.2rem;
  width: 1.2rem;
}

.addPart.placeholder {
  opacity: 0;
}